.error-text{
    color: brown;
    font-style: italic;
    display: block;
}
* {
    box-sizing: border-box;
  }
  /* .section{
      background-color: gray;
      height: 500px;
      max-width: 500px;
      margin: 0 auto;
      margin-top: 100px;
  } */